.View-ol {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding-left: 0px;
}

.View-li {
    width: 127px;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.View-row {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

.View-row:last-child {
    margin-top: 20px;
}

.View-img {
    margin-top: 60px;
    transition: 1s;
    width: 270px;
    border-radius: 10px;
    cursor: pointer;
}

.View-link {
    display: block;
    margin-top: 10px;
    color: #61dafb;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.View-h2:after {
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid rgb(156, 147, 147);
    bottom: .15em;
    transition: all 1s;
}

.View-p {
    margin: 0;
    text-align: center;
}

.View-info {
    border-style: solid;
    border-color: aliceblue;
}

.View-h2 {
    margin-top: 0px;
    text-align: center;
}

@media (max-width: 700px) {
    .View-row {
        width: 90vw;
    }
    .View-li li {
        background-color: dimgrey;
        border-radius: 10px;
    }
}

@media (min-width: 770px) {
    .View-h2:hover:after {
        width: 0%;
        border-bottom-width: 2px;
      }
    
    .View-link:hover {
        color: pink
    }
    
    .View-li:hover {
        color: pink
    }

    .View-img:hover{
        width: 300px;
        opacity: .6;
    }
}